<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css" />
    <title>SportsStore</title>
</head>
<body>
    <div class="navbar navbar-inverse bg-inverse" role="navigation">
        <a class="navbar-brand" href="#">SPORTS STORE</a>
    </div>
    <div class="row m-1 p-1">
        <div id="categories" class="col-3">
            
            <a class="btn btn-block btn-secondary" href="/Page1">
                Home
            </a>

            <a class="btn btn-block 
                btn-secondary" href="/Chess/Page1">
                Chess
            </a>
            <a class="btn btn-block 
                btn-secondary" href="/Soccer/Page1">
                Soccer
            </a>
            <a class="btn btn-block 
                btn-secondary" href="/Watersports/Page1">
                Watersports
            </a>

        </div>
        <div class="col-9">
            <div class="card card-outline-primary m-1 p-1">
                <div class="bg-faded p-1">
                    <h4>
                        Kayak
                        <span class="badge badge-pill badge-primary" style="float:right">
                            <small>$275.00</small>
                        </span>
                    </h4>
                </div>
                <form id="1" method="post" action="/Cart/AddToCart">
                    <input type="hidden" data-val="true" data-val-required="The ProductID field is required." id="ProductID" name="ProductID" value="1" />
                    <!-- Microsoft.AspNetCore.Mvc.Rendering.ViewContext : méthode disponible à la vue afin d'avoir access à l'état actuel de la page : ici son url !-->
                    <input type="hidden" name="returnUrl"
                        value="/Page1" />
                    <span class="card-text p-1">
                        A boat for one person
                        <button type="submit"
                            class="btn btn-success btn-sm pull-right" style="float:right">
                            Add To Cart
                        </button>
                    </span>
                    <input name="__RequestVerificationToken" type="hidden" value="CfDJ8BI1wRqcWv1EpxJcko4ip-VxovCEBXL5MP013uzQr3g9lFjOyIkcM9bwNDCbI0ApSGUy7Qc0pH9cBVFElyc7DbhbLKaT2rLEZOaFMEabwBI7V0soh8yuwGQvdEl03b-VzLK5qD1a2H-cem1dEuRAmus" />
                </form>
            </div>
            <div class="card card-outline-primary m-1 p-1">
                <div class="bg-faded p-1">
                    <h4>
                        Lifejacket
                        <span class="badge badge-pill badge-primary" style="float:right">
                            <small>$48.95</small>
                        </span>
                    </h4>
                </div>
                <form id="2" method="post" action="/Cart/AddToCart">
                    <input type="hidden" data-val="true" data-val-required="The ProductID field is required." id="ProductID" name="ProductID" value="2" />
                    <!-- Microsoft.AspNetCore.Mvc.Rendering.ViewContext : méthode disponible à la vue afin d'avoir access à l'état actuel de la page : ici son url !-->
                    <input type="hidden" name="returnUrl"
                        value="/Page1" />
                    <span class="card-text p-1">
                        Protective and fashionable
                        <button type="submit"
                            class="btn btn-success btn-sm pull-right" style="float:right">
                            Add To Cart
                        </button>
                    </span>
                <input name="__RequestVerificationToken" type="hidden" value="CfDJ8BI1wRqcWv1EpxJcko4ip-VxovCEBXL5MP013uzQr3g9lFjOyIkcM9bwNDCbI0ApSGUy7Qc0pH9cBVFElyc7DbhbLKaT2rLEZOaFMEabwBI7V0soh8yuwGQvdEl03b-VzLK5qD1a2H-cem1dEuRAmus" /></form>
            </div>
            <div class="card card-outline-primary m-1 p-1">
                <div class="bg-faded p-1">
                    <h4>
                        Soccer Ball
                        <span class="badge badge-pill badge-primary" style="float:right">
                            <small>$19.50</small>
                        </span>
                    </h4>
                </div>
                <form id="3" method="post" action="/Cart/AddToCart">
                    <input type="hidden" data-val="true" data-val-required="The ProductID field is required." id="ProductID" name="ProductID" value="3" />
                    <!-- Microsoft.AspNetCore.Mvc.Rendering.ViewContext : méthode disponible à la vue afin d'avoir access à l'état actuel de la page : ici son url !-->
                    <input type="hidden" name="returnUrl"
                        value="/Page1" />
                    <span class="card-text p-1">
                        FIFA-approved size and weight
                        <button type="submit"
                            class="btn btn-success btn-sm pull-right" style="float:right">
                            Add To Cart
                        </button>
                    </span>
                <input name="__RequestVerificationToken" type="hidden" value="CfDJ8BI1wRqcWv1EpxJcko4ip-VxovCEBXL5MP013uzQr3g9lFjOyIkcM9bwNDCbI0ApSGUy7Qc0pH9cBVFElyc7DbhbLKaT2rLEZOaFMEabwBI7V0soh8yuwGQvdEl03b-VzLK5qD1a2H-cem1dEuRAmus" /></form>
            </div>
            <div class="card card-outline-primary m-1 p-1">
                <div class="bg-faded p-1">
                    <h4>
                        Corner Flags
                        <span class="badge badge-pill badge-primary" style="float:right">
                            <small>$34.95</small>
                        </span>
                    </h4>
                </div>
                <form id="4" method="post" action="/Cart/AddToCart">
                    <input type="hidden" data-val="true" data-val-required="The ProductID field is required." id="ProductID" name="ProductID" value="4" />
                    <!-- Microsoft.AspNetCore.Mvc.Rendering.ViewContext : méthode disponible à la vue afin d'avoir access à l'état actuel de la page : ici son url !-->
                    <input type="hidden" name="returnUrl"
                        value="/Page1" />
                    <span class="card-text p-1">
                        Give your playing field a professional touch
                        <button type="submit"
                            class="btn btn-success btn-sm pull-right" style="float:right">
                            Add To Cart
                        </button>
                    </span>
                <input name="__RequestVerificationToken" type="hidden" value="CfDJ8BI1wRqcWv1EpxJcko4ip-VxovCEBXL5MP013uzQr3g9lFjOyIkcM9bwNDCbI0ApSGUy7Qc0pH9cBVFElyc7DbhbLKaT2rLEZOaFMEabwBI7V0soh8yuwGQvdEl03b-VzLK5qD1a2H-cem1dEuRAmus" /></form>
            </div>
        <div class="btn-group pull-right m-1">
            <a class="btn-primary btn" href="/Page1">1</a>
            <a class="btn-secondary btn" href="/Page2">2</a>
            <a class="btn-secondary btn" href="/Page3">3</a>
        </div>
    </div>
</body>
</html>